{% extends 'base.html' %}
{% block title %}Rate List{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <p>
        <form action="{% url 'currency:rate_create' %}">
            <button>Create rate</button>
        </form>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <tr>
                <th scope="col">type</th>
                <th scope="col">source</th>
                <th scope="col">buy</th>
                <th scope="col">sale</th>
                <th scope="col">created</th>
            </tr>
            {%for i in rate_list %}
            <tr>
                <td>{{i.type}}</td>
                <td>{{i.source}}</td>
                <td>{{i.buy}}</td>
                <td>{{i.sale}}</td>
                <td>{{i.created| date:"d.m.Y h:m:s"}}</td>
                <td>
                    <form action="{% url 'currency:rate_detail' i.id %}">
                        <button>Detail</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'currency:rate_update' i.id %}">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'currency:rate_delete' i.id %}">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}