{% extends 'base.html' %}
{% block title %}Rate List{% endblock %}
{% block content %}
<div>
    <p>
        <form action="{% url 'currency:rate_create' %}">
            <button>Create rate</button>
        </form>
    </p>
</div>
<table border="1">
    <tr>
        <td>type</td>
        <td>source</td>
        <td>buy</td>
        <td>sale</td>
        <td>created</td>
    </tr>
    {%for i in rate_list %}
    <tr>
        <td>{{i.type}}</td>
        <td>{{i.source}}</td>
        <td>{{i.buy}}</td>
        <td>{{i.sale}}</td>
        <td>{{i.created| date:"d.m.Y h:m:s"}}</td>
        <td><form action="{% url 'currency:rate_detail' i.id %}"><button>Detail</button></form></td>
        <td><form action="{% url 'currency:rate_update' i.id %}"><button>Edit</button></form></td>
        <td><form action="{% url 'currency:rate_delete' i.id %}"><button>Delete</button></form></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}