{% extends 'base.html' %}
{% block title %}Source List{% endblock %}
{% block content %}
<div>
    <p>
        <form action="{% url 'currency:source_create' %}">
            <button>Create source</button>
        </form>
    </p>
</div>
<table border="1">
    <tr align="center">
        <td>id</td>
        <td>name</td>
        <td>url</td>
        <td>ratings</td>
        <td>social</td>
    </tr>
    {%for i in source_list %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.url}}</td>
        <td>{{i.ratings}}</td>
        <td>{{i.social}}</td>
        <td><form action="{% url 'currency:source_detail' i.id %}"><button>Detail</button></form></td>
        <td><form action="{% url 'currency:source_update' i.id %}"><button>Edit</button></form></td>
        <td><form action="{% url 'currency:source_delete' i.id %}"><button>Delete</button></form></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}