{% extends 'base.html' %}
{% block title %}Source List{% endblock %}
{% block content %}
<div>
    <p>
        <form action="/source_create/">
            <button>Create source</button>
        </form>
    </p>
</div>
<table border="1">
    <tr align="center">
        <td>id</td>
        <td>name</td>
        <td>source_url</td>
        <td>fitch_ratings</td>
        <td>social_items</td>
    </tr>
    {%for i in source_list %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.source_url}}</td>
        <td>{{i.fitch_ratings}}</td>
        <td>{{i.social_items}}</td>
        <td><form action="/source_update/{{i.id}}/"><button>Edit</button></form></td>
        <td><form action="/source_delete/{{i.id}}/"><button>Delete</button></form></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}