{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}
<div>{{ request.user.first_name }} {{ request.user.last_name }}</div>

<img src="{{ request.user.avatar_url }}" width="150" height="150" class="rounded">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Profile</button>
</form>

<button onclick="location.href='{% url 'accounts:password_change' %}'">Change Password</button>



{% endblock content %}